<section>
    <div class="container mt-4">
     

          <table class="table  customTable ">
            <thead class="text-center ">
              <tr>
                <th scope="col"><input type="checkbox"></th>
                <th scope="col"><img src="./assets/sort.png" class="" alt="">المُسلسل </th>
                <th scope="col"><img src="./assets/sort.png" class="" alt="">الحالة</th>
                <th scope="col"><img src="./assets/sort.png" class="" alt="">الاسم</th>
                <th scope="col"><img src="./assets/sort.png" class="" alt="">اسم المستخدم </th>
                <th scope="col"><img src="./assets/sort.png" class="" alt=""> صلاحية المستخدم</th>
                <th scope="col"><img src="./assets/sort.png" class="" alt="">الوظيفة</th>
                <th scope="col"><img src="./assets/sort.png" class="" alt=""> رقم الهاتف</th>
                <th scope="col"><img src="./assets/sort.png" class="" alt="">اعدادات</th>
              </tr>
            </thead>
            <tbody class="text-center ">
              <tr *ngFor="let element of ELEMENT_DATA|JobFilter:SearchByJob|statusFilter:SearchBystatus|typeFilter:SearchBytype|searchByName:SearchByName| paginate: { itemsPerPage: 5, currentPage: p };let i=index">
                <td><input type="checkbox" name="" id=""></td>
                <td class="fw-bold">{{element.Position}}</td>
                <td><p  class="status rounded-3 my-1 " [ngClass]="element.Status=='فعال'?'true' :'false'">{{element.Status}}</p></td>
                <td>{{element.Name}}</td>
                <td >{{element.UserName}}</td>
                <td>{{element.UserType}}</td>
                <td>{{element.Job}}</td>
                <td class="position-relative">{{element.MobilNumber}} <span dir="ltr">+20</span></td>
                <td class="position-relative">
                  <i class="fa-solid fa-ellipsis-vertical me-3 cursor  " (click)="EmployeSetting($event)">  
                  <ul  class=" d-none bg-white list-unstyled DropMenu rounded-3 mt-2 py-1 px-0">
               
                  <li (click)="Delete(i)" class="py-2 bg-secondary-subtle" >مسح</li>
      
                </ul></i></td>
              </tr>

            </tbody>
          </table>
            <div class="text-center">
              <pagination-controls (pageChange)="p = $event "  nextLabel=""  previousLabel=""></pagination-controls>
            </div>
    </div>



</section>


