/* You can add global styles to this file, and also import other style files */


*{
    white-space: nowrap;
    
}  
body{
    background-color: #f6f7f9;
}
// .containerx{
//     width: 1070px;
//     margin: auto;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor{
    cursor: pointer;
}


